::ng-deep app-store{
	height:100%;
	.toBack-btn{
	    color: #fff;
	    font-size: 2.2em;
	    position: absolute;
	    left: 25px;
	}
	section{
		height:calc(100% - 80px);
		background-color: #fff;
		ul {
			padding: 15px 0 0 0;
			margin: 0;
			li{
				height: 50px;
				padding: 0 15px;
				width: 100%;
				.li-left{
					width: 50px;
					img{
						width:50px;
						height: auto;
					}
				}
				.li-center{
					width: 100%;
					justify-content: center;
					padding-left: 10px;
					.name{
						font-size: 1em;
					    font-weight: 500;
					    color: #0184d2;
					    line-height: 1;
					}
					.shortDesc{
						font-size: 0.7em;
					    font-weight: 500;
					    color: #ccc;
					    line-height: 1;
					    margin-top: 2px;
					}
				}
				.li-right{
					width: 100px;
					align-items: center;
					label{
					    border: solid 1px #0566a0;
					    border-radius: 5px;
					    padding: 0px 15px;
					    margin: 0;
					    color: #ffffff;
					    background-color: #0184d2;
					    font-size: 0.9em;
					    font-weight: 500;
					}
				}
			}
		}
	}
}