<header class="main-header d-flex justify-content-center align-items-center">
	<label *ngIf="selectedExtension" class="toBack-btn" (click)="toBack()"><i class="fa fa-angle-left"></i></label>
	<h2 [innerText]="title"></h2>
</header>
<section>
	<ng-template #extensionList>
		<ul class="d-flex w-100 h-100">
			<li *ngFor="let ext of extensions" class="d-flex">
				<div class="li-content d-flex w-100 h-100" (click)="showAppDetail(ext)">
					<div class="d-flex li-left">
						<img [src]="ext.logoImg">
					</div>
					<div class="li-center d-flex flex-column">
						<span class="name">{{ext.name.es}}	</span>
						<span class="shortDesc">{{ext.shortDesc}}</span>
					</div>
					<div class="li-right d-flex">
						<label class="price" *ngIf="isFree(ext);else isPayed">Free</label>
						<ng-template>
							<label class="price" #isPayed>$USD {{ext.price}}</label>
						</ng-template>
					</div>
				</div>
			</li>
		</ul>
	</ng-template>
	<app-store-detail *ngIf="selectedExtension;else extensionList" [extension]="selectedExtension" [userExtensions]="user_extensions"></app-store-detail>
</section>