<a routerLink="/profile" class="profile-link d-flex flex-column align-items-center">
    <img *ngIf="profile" [src]="profile.image" alt="">
    <h4 *ngIf="profile" class="d-none d-md-block">{{ profile.name }}</h4>
</a>