@import "./src/variables.scss";
::ng-deep template{
	display: block;
}
::ng-deep .inbox-tasks .main-list{
	template>li{
		border-bottom: solid 2px #f2f2f2;
		cursor: pointer;
		height: 62px;
		padding: 0px 18px;
		.li-right{
		    color: #607d8b;
		    font-size: 0.8em;
		    font-style: italic;
		    label{
		    	line-height: 1.4em;
		    }
		}
		.options{
		    transition: all 0.3s ease-out;
		    width: 0px;
		    overflow: hidden;
		    padding: 10px 0px;
			ul{ 
				li {
					min-width: 100px;
					a{
					    height: 100%;
					    width: 100px;
					    font-size: 0.8em;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    color: #fff;
					    font-weight: 500;
					    border-radius: 30px;
					}
				}
				li.btn-accept{
					margin-right: 10px;
					a{
						background-color: $brand-success;
					}
				}
				li.btn-reject a{
					background-color: $brand-danger;
				}
			}
		}
	}
	template>li:hover {
		.li-right{
			margin-right: 18px!important;
		}
		.options{
			width: 210px;
		}
	}
}