<header class="main-header d-flex justify-content-center align-items-center">
	<h2 [innerText]="title"></h2>
</header>
<section class="main-content">
	<div class="inbox-tasks h-100 d-flex flex-column w-100" id="inbox">
		<div class="w-100 h-100 d-flex">
			<ul *ngIf="haveTasks()" class="main-list list-unstyled d-flex w-100 flex-column">
				<template *ngFor="let task of tasks">
					<li class="w-100" *ngIf="belongsHere(task)">
						<div class="li-content d-flex h-100">
							<div class="li-left d-flex justify-content-center align-items-center">
								<label class="task-name m-0">{{task.name}}</label>
							</div>
							<div class="li-right d-flex flex-column ml-auto mr-0 justify-content-center align-items-center">
								<label class="from m-0" *ngIf="hasFromName(task);else noHasName">{{task.from.name}}</label>
								<ng-template class="from m-0" #noHasName>{{task.from_mail}}</ng-template>
								<label class="created m-0">{{task.created.date}}</label>
							</div>
							<div class="options">
								<ul class="d-flex list-unstyled h-100">
									<li class="btn-accept">
										<a href="#" (click)="acceptTask($event,task)">Aceptar</a>
									</li>
									<li class="btn-reject">
										<a href="#" (click)="rejectTask($event,task)">Rechazar</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</template>
			</ul>
			<div *ngIf="!haveTasks()" class="without-tasks d-flex w-100 h-100 justify-content-center align-items-center text-center">
				<p class="m-0">Tu bandeja esta limpia.<br>No tienes tareas asignadas</p>
			</div>
		</div>
	</div>
</section>
<app-select-dialog *ngIf="showSelectDialog" [options]="folders" [title]="selectTitle" (response)="getSelectResponse($event)" ></app-select-dialog>