.modal{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);

	.modal-content{
		width: 350px;
		background-color: #fff;
	}
	
	input[name='option'] ~ label{
		display: flex;
	    align-items: center;
	    font-size: 0.82em;
	    width: 100%;
	    i{
	    	border: solid 2px #999999;
		    border-radius: 3px;
		    font-size: 0.7em;
		    color: #016aa8;
		    padding: 3px;
		    margin-right: 3px;
		    width: 18px;
		    height: 18px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
	    }
	    i:before{
	    	opacity: 0;
	    }
	}	

	input[name='option']:checked ~ label{
		i:before{
			opacity: 1!important;
		}

	}
}