<div class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<div class="content">
				<h6 class="m-0">{{title}}</h6>
			</div>
		</div>
		<div class="modal-body">
			<div class="content">				
				<div class="d-flex align-items-center" *ngFor="let option of options" >
					<input class="d-none" type="radio" [value]="option.name" [id]="option.name" name="option" [(ngModel)]="selected" >
					<label [for]="option.name">
						<i class="fa fa-fw fa-alert fa-check"></i>
						{{option.name}}
					</label>					
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="content">
				<button class="btn btn-danger" (click)="sendResponse('CANCEL')">Cancelar</button>
				<button class="btn btn-success" (click)="sendResponse('CONFIRM')">Confirmar</button>
			</div>
		</div>
	</div>
</div>