<app-header-full></app-header-full>
<main class="d-flex flex-column full-main">
	<section class="main-content w-100 h-100">
		<div class="w-100 h-100 d-flex justify-content-center align-items-center login-form container" id="login">
			<!--<form class="d-flex flex-column" (submit)="auth($event,mail.value,pass.value,nameuser.value)">-->
			<form class="d-flex flex-column" (submit)="auth($event,mail.value,pass.value,nameuser.value)">
				<div class="log-content">
					<p *ngIf="log">{{log}}</p>
				</div>
				<div class="form-header d-flex">
					<div class="w-50 text-center active change-form login-btn" (click)="changeFormType($event)">
						<h3 class="mb-0 text-uppercase">{{title}}</h3>
					</div>
					<div class="w-50 text-center change-form register-btn" (click)="changeFormType($event)">
						<h3 class="mb-0 text-uppercase">Registrarse</h3>
					</div>
				</div>
				<div class="form-body d-flex flex-column mb-0">
					<input [ngClass]="{'d-none':!register}" class="form-control mb-2" type="text" required="true" placeholder="Nombre" #nameuser>
					<input id="mail" class="form-control mb-2" type="email" required="true" placeholder="E-mail" #mail>
					<input type="password" class="form-control" required="true" placeholder="Constraseña" #pass>
					<div class="form-group d-flex flex-row-reverse mt-2">
						<a [ngClass]="{'d-none':register}" href="#" (click)="recoveryPassword($event)"><small>Recuperar contraseña</small></a>
					</div>
				</div>
				<div class="form-footer d-flex flex-column">
					<div class="form-group d-flex flex-column mb-4">
						<button type="submit" class="btn btn-primary ml-1 w-100 mb-3"><span>{{sendText}}</span></button>
						<button class="btn btn-primary google-login w-100 ml-1" (click)="socialSignIn('google')">
							<i class="fa fa-google-plus mr-2"></i>
							Ingresar con Google
						</button>
						<!--
						<button class="btn btn-default" (click)="changeFormType($event)">Registrarme</button>
						<button class="btn btn-default" (click)="registerUser($event,mail.value,pass.value)">Registrarme</button>-->
					</div>					
				</div>
				<!--	
				    <div v-if="error != 0">
				        {{ error }}
				    </div>
				-->
			</form>
		</div>
	</section>
</main>