@import "./src/variables.scss";
section {
    height: 100%;
    background-color: #fff;
    .login-form form {
    	.log-content{
    	    position: absolute;
		    top: -35px;
		    font-size: 0.9em;
		    color: #ffb500;
		    font-weight: 600;
    	}
    	position: relative;
	    width: 350px;
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
        .form-header{ 
        	div{
        	    padding-top: 22px;
        		padding-bottom: 15px;
        		border-bottom: solid 3px #d2d2d2;
        		cursor:pointer;
        		h3 {
				    font-size: 1.01em;
				    font-weight: 600;
				    color: #d2d2d2;
				    margin-bottom: 15px;
				}
			}
			div.active{
				border-bottom: solid 3px #499bd9;
				h3{
					color: $lt-color;
				}
			}
		}
		.form-body{
			padding: 35px 40px 0px;
			input[type='text'].form-control, input[type='password'].form-control, input[type='email'].form-control {
			    border: 0;
			    background-color: #f2f2f2;
			    font-size: 0.8em;
			    border-radius: 5px;
			    padding: 10px 15px;
			}
			small{
				font-size: 0.75em;
			    font-style: italic;
			    margin-right: 5px;
			    font-weight: 500;
			}
		}
		.form-footer{
			padding: 0px 40px;			
		}
		.btn {
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		    width: 120px;
		    height: 50px;
		    font-size: 0.85em;
		}
		.btn-default {
		    color: $lt-color;
		}
		.btn.google-login{
			background-color: #f92f25;
			border: solid 1px #f92f25;
		}
		.btn.google-login:hover{
			background-color: #fff;
			color: #f92f25;
			i{
				color: #f92f25;
			}
		}
	}
}