/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2018, 11:01:52 AM
    Author     : oficina
*/
@import "./src/variables.scss";
main{    
    width: calc(100% - 57.12px);
    
    ::ng-deep.main-header{
        
        height: 80px;
        background-color: $lt-color;
        position: relative;
        z-index: 1;
        box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 0.2);
        
        h2{
            color: #fff;
            font-size: 1.1em;
            margin: 0;
        }
        
        .tools-container{
            position: absolute;
            right: 0;
            
            li>a.dropdown-toggle{
                color: #fff;
            }
            li>a.dropdown-toggle:after{
                content: none;
            }
            li.dropdown>ul.dropdown-menu.show{
                width: 200px;
                left: initial!important;
                right: 0!important;
                transform: none!important;
                top: calc(100% + 5px)!important;
                font-size: 0.7em;
                border-radius: 10px;
                .group:nth-child(1) {
                    border-bottom: solid 2px #f2f2f2;
                    padding: 5px 15px;                                      
                }
                .group:nth-child(2){
                    padding: 15px 15px 0px 15px;
                }
                .group{
                    h4{
                        font-size: 1.2em;
                    }
                    .form-group{
                        
                        margin: 0;
                        padding-left: 10px;
                        
                        input[type="radio"]:checked ~ label .fa{
                            display: block!important;
                            margin-left: 5px;
                            color: $lt-color;
                        }
                        label{
                            display: flex;
                            align-items: center;
                        }
                    }  
                }
            }
        }
    }
    .main-content{
        height: calc(100% - 80px);
        background-color: #fff;
    }
}
main>.main-content .tasks>div>.task-list-header>ul
{    
    >li>a{
        color: #fff;
        background-color: transparent;
        border: none;
        border-radius: 0;
        font-size: 0.8em;
    }
    >li.dropdown{
        position: relative;
    }
    >li>a.dropdown-toggle:after{
        content: none;
    }
    >li>a.dropdown-toggle[aria-expanded="true"]{
        color: #fff;
        background-color: transparent;
        border: none;
    }
    >li>ul.dropdown-menu.show{
        left: initial !important;
        right: 0!important;
        top: calc(100% - 10px)!important;;
        transform: none!important;
        width: 200px;
        padding: 15px;
        font-size: 0.7em;
        border-radius: 10px;
        height: 250px;
        display: flex!important;
        
        h4{
            font-size: 1.2em;
        }
        >li{
            padding: 5px 0px;
            border-bottom: solid 1px #f2f2f2;
            a{
                color: #111;                
            }
            a.ml-auto{
                color: $brand-danger;
                opacity:0;
                transition: opacity 0.3s ease-out ;
            }
        }
        >li:hover a.ml-auto{
            opacity:1;
        }
        .add-folder{
            input{
                border: none;
                border-bottom: solid 1.5px #f2f2f2;
                border-radius: 0px;
                font-size: 1em;
                padding-left: 0px;
            }
            button[type="submit"]{
                border-radius: 50%;
                padding: 0;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $lt-color;
                color: #fff;
                padding-top: 1px;
            }
        }
    }
    >li>a.active{
        border-bottom: solid 7px rgba(0,0,0,0.2);
    }
}
main>.main-content .tasks .tasks-list{
    >li{
        border-bottom: solid 2px #f2f2f2;
        cursor: pointer;
        .li-content{
            height: 50px;
            .li-left{
                width: 50px;
                .fa-heart{
                    color: #ff6969;
                }
                .fa-heart-o{
                    color: #dbdbdb;
                }
            }
            .li-main{
                width: 100%;
                font-size: 0.8em;
            }
            .li-right{
                opacity:0;
                transition: all 0.3s ease-out;
                ul>li>a{
                    width: 40px;
                }
                ul>li>a.delete{
                    color: $brand-danger;
                }
                ul>li>a.complete{
                    color: $brand-success;
                }
            }
        }
    }
    >li:hover .li-right{
        opacity: 1;
    }
    >li.active{
        background-color: #fafafa;
    }
}
main>.main-content .tasks .add-task-quick{
    padding: 10px 15px;
    border-top: solid 2px #f2f2f2;
    .input-group{
        margin: 0!important;
        input[name="task-name"]{
            border: none;
            border-bottom: solid 1.5px #f2f2f2;
            border-radius: 0px;
            font-size: 1em;
            padding-left: 0px;
        }
        button[type="submit"]{
            border-radius: 50%;
            padding: 0;
            height: 45px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: $lt2Color;
            padding-top: 2px;
            font-size: 1.5em;
        }
    }
}

::ng-deep .separator{
    width: 5px;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
}

.message-log{
    position: fixed;
    left: -200px;
    width: 200px;
    top: 15px;
    background-color: #34b7b2;
    font-size: 13px;
    color: #fff;
    z-index: 3;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);   
    p{
        margin-bottom: 0;
    } 
}
.message-log.animate{
    animation-duration: 5s;
    animation-name: showMessageLog;    
}

@media (min-width: 768px){
    main{
        width: calc(100% - 250px);
    }
}

@keyframes showMessageLog{
    0%{
        left: -200px;
    }
    20%{
        left: calc(100% - 215px);
    }
    90%{
        left: calc(100% - 215px);
    }
    100%{
        left: 100%;
    }
}