<div class="w-100 h-100 d-flex">
	<app-header class="h-100"></app-header>
	<main class="d-flex flex-column">		
		<router-outlet></router-outlet>		
	</main>	
	<div class="message-log">
		<p *ngIf="log">{{log.message}}</p>
	</div>
</div>
