<header id="header" class="d-flex flex-column h-100">
	<div class="d-flex logo-container justify-content-center align-items-center">
		<img src="assets/images/LOGO.png" alt="livetask" class="full d-none">
		<img class="min" src="https://firebasestorage.googleapis.com/v0/b/todo-adfd5.appspot.com/o/logoblanco.png?alt=media&token=d406184c-b997-4c08-9108-b86ec03b19df" alt="livetask">
	</div>
	<aside class="d-flex flex-column">
		<div class="profile-block" id="asd_profile">
            <app-profile-block></app-profile-block>
		</div>
		<nav class="d-flex flex-column h-100">
			<ul class="menu-main d-flex flex-column">
				<li><a routerLink="/inbox"><i class="fa fa-inbox fa-fw"></i><span class="d-none d-md-inline-block">Bandeja de entrada</span></a></li>
				<li><a routerLink=""><i class="fa fa-list-ul fa-fw"></i><span class="d-none d-md-inline-block">Mis tareas</span></a></li>
				<li><a routerLink="/tracing"><i class="fa fa-eye fa-fw"></i><span class="d-none d-md-inline-block">Seguimiento</span></a></li>
				<li><a routerLink="/store"><i class="fa fa-th-large fa-fw"></i><span class="d-none d-md-inline-block">Extensiones</span></a></li>
			</ul>
			<ul class="ext-menu-opts d-flex mt-auto mb-0 w-100 flex-column flex-md-row">
				<li class="w-50"><a [routerLink]="['/feedback']"><i class="fa fa-commenting fa-fw"></i><span class="d-none d-md-inline-block">Feedback</span></a></li>
				<li class="w-50"><a (click)="closeSession()"><i class="fa fa-sign-out fa-fw"></i><span class="d-none d-md-inline-block">Salir</span></a></li>
			</ul>
		</nav>
	</aside>
</header>