@import "./src/variables.scss";
a{
    cursor: pointer;
}
#header.full-header{
    width: auto;
    max-width: 100%;
    .logo-container{
        padding-right: 30px;
        padding-left: 30px;
    }
}
main.full-main{
    width: 100%;
    height: 100%;
    .main-content{
        height: 100%;
    }
}
#header{    
    width: auto;
    max-width: 250px;
    max-height: 100%;
    
    .logo-container{
        height: 80px;
        background-color: $lt-color;
        position: relative;
        box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 0.2);;
    }
    
    .logo-container img{
        height: 50px;
        width: auto;        
    }
    
    aside{
        
        height: calc(100% - 80px);
        
        .profile-block{
            
            padding: 15px 0;
            
            img{
                
		border-radius: 50%;
		width: 110px;
		margin-bottom: 8px;
                
            }
            
            h4 {
                font-size: 1em;
                color: #111;
            }
	}
        
        nav{
            font-size:0.8em;
            
            ul{
                
                padding:0;
                
                li{
                    
                    list-style: none;
                    padding:0;
                    
                    a{
                        display: block;
                        padding: 10px 15px;
                        border-top: solid 1px #f1f1f1;
                        color: #111;
                        white-space: nowrap;
                        
                        i{
                            margin-right: 5px;
                            color: $lt-color;
                        }
                    }
                }
                li.active{
                    
                    a{
                        background-color:rgba(0,0,0,0.03);
                    }
                }
            }
            
            .ext-menu-opts{
                
                font-size: 0.8em;
                
                li i{
                    font-size: 1.4em;
                }
            }
            
        }
    }
    
}

main{
    
    width: calc(100% - 250px);
    
    .main-header{
        
        height: 80px;
        background-color: $lt-color;
        position: relative;
        z-index: 1;
        box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 0.2);
        
        h2{
            color: #fff;
            font-size: 1.1em;
            margin: 0;
        }
        
        .tools-container{
            position: absolute;
            right: 0;
            
            li>a.dropdown-toggle{
                color: #fff;
            }
            li>a.dropdown-toggle:after{
                content: none;
            }
            li.dropdown>ul.dropdown-menu.show{
                width: 200px;
                left: initial!important;
                right: 0!important;
                transform: none!important;
                top: calc(100% + 5px)!important;
                font-size: 0.7em;
                border-radius: 10px;
                .group:nth-child(1) {
                    border-bottom: solid 2px #f2f2f2;
                    padding: 5px 15px;                                      
                }
                .group:nth-child(2){
                    padding: 15px 15px 0px 15px;
                }
                .group{
                    h4{
                        font-size: 1.2em;
                    }
                    .form-group{
                        
                        margin: 0;
                        padding-left: 10px;
                        
                        input[type="radio"]:checked ~ label .fa{
                            display: block!important;
                            margin-left: 5px;
                            color: $lt-color;
                        }
                        label{
                            display: flex;
                            align-items: center;
                        }
                    }  
                }
            }
        }
    }
    .main-content{
        height: calc(100% - 80px);
        background-color: #fff;
    }
}
@media (min-width: 768px){    
    .logo-container .full{
        display: block!important;
    }
    .logo-container .min{
        display: none!important;
    }
    #header{
        width: 250px;
    }
}