@import "./src/variables.scss";
html,body{
	width: 100%;
    height: 100%;
}
body{	
    display: flex;
    flex-direction: column;    
}

main.full-main {
    width: 100%;
    height: 100%;
}

::ng-deep app-inbox{
	width: 100%;
	height: 100%;	
}

::ng-deep .main-content{
	width: 100%;
	height: calc(100% - 80px);
	background-color: #fff;
}

::ng-deep .task-list-header{
    background-color: #0184d1;
    border-bottom: 1px solid #dee2e6;
}

::ng-deep .lt-tabs {
    padding-top: 7px;
    background-color: #0184d1;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
::ng-deep .nav-tabs {
    border-bottom: none!important;
}
::ng-deep main .main-content .tasks>div>.task-list-header>ul
{    
    >li>a{
        color: #fff;
        background-color: transparent;
        border: none;
        border-radius: 0;
        font-size: 0.8em;
    }
    >li.dropdown{
        position: relative;
    }
    >li>a.dropdown-toggle:after{
        content: none;
    }
    >li>a.dropdown-toggle[aria-expanded="true"]{
        color: #fff;
        background-color: transparent;
        border: none;
    }
    >li>ul.dropdown-menu.show{
        left: initial !important;
        right: 0!important;
        top: calc(100% - 10px)!important;;
        transform: none!important;
        width: 200px;
        padding: 15px;
        font-size: 0.7em;
        border-radius: 10px;
        height: 250px;
        display: flex!important;
        
        h4{
            font-size: 1.2em;
        }
        >li{
            padding: 5px 0px;
            border-bottom: solid 1px #f2f2f2;
            a{
                color: #111;                
            }
            a.ml-auto{
                color: $brand-danger;
                opacity:0;
                transition: opacity 0.3s ease-out ;
            }
        }
        >li:hover a.ml-auto{
            opacity:1;
        }
        .add-folder{
            input{
                border: none;
                border-bottom: solid 1.5px #f2f2f2;
                border-radius: 0px;
                font-size: 1em;
                padding-left: 0px;
            }
            button[type="submit"]{
                border-radius: 50%;
                padding: 0;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $lt-color;
                color: #fff;
                padding-top: 1px;
            }
        }
    }
    >li>a.active{
        border-bottom: solid 7px rgba(0,0,0,0.2);
        background-color: transparent;
        color: #fff;
    }
}