@import "./src/variables.scss";

::ng-deep app-tracing{
	height: 100%;
}
::ng-deep template{
	display: block;
}
::ng-deep .tracing-legend>ul>li
{	
	font-size: 0.75em;
	color: $brand-info;
	display: flex;
	align-items: center;
	border: none!important;
	i{
		font-size: 0.6em;
	}
	i.complete-legend{
		color: $brand-success;
	}
	i.exec-legend{
		color: $brand-info;
	}
	i.timed-out-legend{
		color: $brand-danger;
	}
}

::ng-deep app-tracing{	
	.tab-content{
		overflow-y: auto;
    	height: calc(100%);
	}
	.nav-tabs{
        height: 61px;
		min-height: 52px;
	    li a{
    	    color: #fff;
		    background-color: transparent;
		    border: none!important;
		    border-radius: 0;
		    font-size: 0.8em;
		    white-space: nowrap;
	    }
	    li a.active{
    	    border-bottom: solid 7px rgba(0, 0, 0, 0.2)!important;
		    background-color: transparent!important;
		    color: #fff!important;
	    }
	}
	#activas>ul>li>.li-content,#por-aceptar>ul>template>li>{
		.li-content{
			cursor: pointer;
			.li-main{
				padding-left: 25px;
			}
			.li-right{
				color: $brand-info;
				font-size: 0.8em;
				font-style: italic;
				text-align: right;
				label:nth-child(1){
					line-height: 1;
				}
				label:nth-child(2){
					font-size: 0.8em;
				}
			}
		}
	}
	ul{
		li{ 
			border-bottom: solid 2px #f2f2f2;			
			.li-content{
				height: 50px;
				label{
					cursor: inherit;
				}
				.li-left{
					width: 50px;
					font-size: 0.7em;
					.acepted-state{
						color: $brand-info;
					}
					.complete-state{
						color: $brand-success;
					}
					.expirate-state{
						color: $brand-danger;
					}
				}
				.li-main{
					font-size: 0.8em;
				}
				.li-right{
					padding-right: 25px;
					>.graph{
					    height: 12px;
						width: 180px;
						div{
							border-right: solid 1px #fff
						}
						template:nth-child(1) div{
							border-radius: 4px 0 0 4px;
						}
						template:nth-last-child(1) div{
							border-radius: 0 4px 4px 0;
						}
						.acepted-state{
							background-color: $brand-info;
						}
						.complete-state{
							background-color: $brand-success;
						}
						.expirate-state{
							background-color: $brand-danger;
						}
					}
					>label{
					    font-size: 0.8em;
					    font-style: italic;
					    color: $brand-info;
					    margin-left: 15px!important;
					}
				}
			}				
		}
		.ul-container{
			height: 0;
			overflow: hidden;
			ul{
				padding-left: 50px;
				padding-right: 50px;
	    		font-size: 0.8em;
	    		.li-content{
	    			height: 40px;
	    		}
	    		li:nth-last-child(1){
	    			border-bottom: 0;
	    		}
			}
		}
		li.active{
			background-color: #fafafa;
			.ul-container{
				height: auto;
			}
		}
	}		
}