<header class="main-header d-flex justify-content-center align-items-center">
	<h2 [innerText]="title"></h2>
</header>
<section class="main-content d-flex">
	<div class="w-100 h-100 d-flex flex-column">
        <!-- Tab nav -->
        <ul class="nav nav-tabs folder-tabs lt-tabs">
            <li class="nav-item w-50" >
                <a id="activas-tab" class="nav-link active text-center" data-toggle="tab" href="#activas" role="tab" aria-controls="activas" aria-selected="true">Activas</a>
            </li>
            <li class="nav-item w-50" >
                <a id="por-aceptar-tab" class="nav-link text-center" data-toggle="tab" href="#por-aceptar" role="tab" aria-controls="por-aceptar" aria-selected="true">Por Aceptar</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
                <div class="tab-pane active" id="activas" role="tabpanel" aria-labelledby="activas-tab">
                    <ul class="list-unstyled">
                        <template *ngFor="let task of tasks">
                            <li *ngIf="belognsActive(task)" (click)="selectTasks(task)">
                                <div class="li-content d-flex">
                                    <div class="li-left d-flex align-items-center justify-content-center">
                                        <i class="fa fa-fw fa-circle" [ngClass]="getStateClass(task)" ></i>
                                    </div>
                                    <div class="li-main d-flex align-items-center">
                                        <label class="m-0">{{task.name}}</label>
                                    </div>
                                    <div class="li-right ml-auto mr-0 align-items-center d-none d-md-flex">
                                        <div class="d-flex graph">
                                            <template *ngFor="let sub_task of sonTasks(task);index as idx" class="w-100 h-100">
                                                <div class="w-100 h-100" [ngClass]="getStateClass(sub_task)"></div>
                                            </template>
                                        </div>
                                        <label *ngIf="hasFromName(task);else noHasTaskName" class="m-0">{{task.from.name}}</label>
                                        <ng-template #noHasTaskName>
                                            <label class="m-0">{{task.from_mail}}</label>
                                        </ng-template>
                                    </div>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="tab-pane" id="por-aceptar" role="tabpanel" aria-labelledby="por-aceptar-tab">
                    <ul class="list-unstyled">
                        <template *ngFor="let task of tasks">
                            <li *ngIf="belognsUnaccepted(task)">
                                <div class="li-content d-flex" v-on:click="showSubTasks($event)">
                                    <div class="li-main d-flex align-items-center">
                                        <label class="m-0">{{task.name}}</label>
                                    </div>
                                    <div class="li-right ml-auto mr-0 d-flex align-items-center d-none d-md-block">
                                        <div class="d-flex flex-column">
                                            <label *ngIf="hasFromName(task);else tpltaskmail" class="m-0">{{task.from.name}}</label>
                                            <ng-template #tpltaskmail class="m-0">{{task.from_mail}}</ng-template>
                                            <label class="m-0 text-right">Pendiente de aceptación</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ul-container">
                                    <ul class="list-unstyled">
                                        <li v-for="(sub_task, index) in tasks" v-if="task.id == sub_task.parent_id">
                                            <div class="li-content d-flex">
                                                <div class="li-left d-flex justify-content-center align-items-center">
                                                    <i class="fa fa-fw fa-circle" v-bind:class="{'acepted-state': task.state == 'ACCEPTED','complete-state':task.state == 'COMPLETE', 'expirate-state':task.state == 'EXPIRATE'}"></i>
                                                </div>
                                                <div class="li-main d-flex align-items-center">
                                                    <label class="m-0">sub_task.name</label>
                                                </div>
                                                <div class="li-right"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
        </div>
        <div class="tracing-legend mt-auto mb-0">
            <ul class="list-unstyled d-flex flex-column flex-sm-row align-items-center justify-content-center">
                <li><i class="fa fa-fw fa-circle complete-legend mr-1"></i>Completado</li>
                <li class="ml-5 mr-5"><i class="fa fa-fw fa-circle exec-legend mr-1"></i>Ejecución</li>
                <li><i class="fa fa-fw fa-circle timed-out-legend mr-1"></i>Vencido</li>
            </ul>
        </div>
    </div>
    <div class="separator d-none d-md-block" *ngIf="selectedTask"></div>
    <div class="w-100 h-100 d-flex flex-column" *ngIf="selectedTask">
        <app-task-detail  [type]="selectedType" [task]="selectedTask" (saveNewTask)="saveNewTask($event)" (passAction)="execAction($event)" [tasks]="selectedTaskSons" class="show_pane w-100 h-100 flex-column"></app-task-detail>
    </div>
</section>
