::ng-deep app-feed-back{
	height: 100%;
}
form{
	padding-top: 30px;
	.row{
		width: 650px;
		max-width: 100%;
	}
	.row .col-12 .input-group{
		margin-bottom: 12px;
	}
	.row .col-12:nth-child(2) {
		.input-group{
		    height: calc(100% - 12px);
		    .form-control{
		    	padding-left: 20px;
		    	padding-top: 7px;
		    }
		}
	}
	.form-control{
	    border: solid 1px#d2d2d2!important;
	    border-radius: 25px!important;
	    padding-left: 42px;
	    line-height: 2;
	    font-size: 15px;
	}
	.input-group i.fa{
		position: absolute;
	    z-index: 1;
	    color: #7c7c7c;
	    top: calc(50% - 7.5px);
	    left: 20px;
	    font-size: 15px;
	}
}


