<header class="main-header d-flex justify-content-center align-items-center">
	<h2>Feedback</h2>
</header>
<section class="main-content">
	<div class="inbox-tasks h-100 d-flex flex-column w-100" id="inbox">
		<div class="w-100 h-100 d-flex">
			<form (submit)="enviarFormulario()" class="d-flex flex-column col-12 align-items-center">
				<p class="text-center"><small>Dejanos un mensaje con tu opinión sobre LiveTask.</small></p>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="input-group">
							<i class="fa fa-file"></i>
							<input class="form-control" type="text" [(ngModel)]="asunto" name="asunto" placeholder="Asunto" [disabled]="stop">
						</div>
						<div class="input-group">
							<i class="fa fa-phone"></i>
							<input class="form-control" type="text" [(ngModel)]="telefono" name="telefono" placeholder="Teléfono" [disabled]="stop">
						</div>
						<div class="input-group">
							<i class="fa fa-globe"></i>
							<input class="form-control" type="text" [(ngModel)]="pais" name="pais" placeholder="País" [disabled]="stop">
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="input-group">
							<textarea class="form-control" [(ngModel)]="mensaje" name="mensaje" placeholder="Comentario" [disabled]="stop"></textarea>
						</div>
					</div>
					<div class="col-12 text-center pt-4">
						<button type="submit" class="btn btn-primary" [disabled]="stop">Enviar</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</section>