::ng-deep app-store-detail{
	h4{
	    font-size: 0.95em;
	    color: #565656;
	    font-weight: 500;
	    margin-bottom: 0px;
    	margin-top: 12px;
	}
    width: 100%;
    height: 100%;
    display: flex;
    max-height: 100%;
    overflow-x: hidden;
    .mc2-col{
    	padding: 15px 25px;
    }
    .option-row {
    	padding-bottom: 15px;
	    margin-bottom: 5px;
	    border-bottom: solid 1px #f2f2f2;
	    .left-content img{
	        width: 75px;
	    }
	    .center-content{
	    	width: 100%;
	    	padding-left: 10px;
	    	.name{
    		    line-height: 1;
			    font-size: 1em;
			    font-weight: 500;
			    color: #0184d2;
	    	}
	    	.price{
    		    font-size: 0.7em;
			    font-weight: 500;
			    color: #ccc;
			    line-height: 1;
			    margin-top: 2px;
	    	}
	    }
	    .right-content{
	    	label{
    		    margin-bottom: 0;
			    border: solid 2px #0184d2;
			    padding: 8px 30px;
			    color: #0184d2;
			    border-radius: 5px;
			    transition: all 0.3s ease-out;
			    cursor: pointer;
	    	}
	    	label:hover{
    		    background-color: #0184d2;
				color: #fff!important;
	    	}
	    }
    }
    .images-row{
    	.carousel-content{
    		overflow-x: scroll;    		
	    	.carousel{
	    		white-space: nowrap;
	    		li{	    			
		    		height: auto!important;
		    		width: 250px;
		    		display: inline-block;
		    		img{
		    			width: 100%;
		    			height: auto;
		    		}
		    	}
		    	li:nth-child(1){
		    		margin-left: -15px;
		    	}
	    	}
    	}
    }
    .description-row{
    	padding-top: 10px;
    	p{
    		font-size: 0.8em;
		    line-height: 1.2;
		    margin-top: 10px;
    	}
    }
}