<div class="mc2-col flex-column w-100">
	<div class="option-row row-mc2 d-flex">
		<div class="left-content">
			<img [src]="extension.logoImg">
		</div>
		<div class="center-content d-flex flex-column justify-content-center">
			 <span class="name">Grupos</span>
			 <span class="price">Gratis</span>
		</div>
		<div class="right-content d-flex align-items-center">
			<label class="install-btn" (click)="registerUser()" *ngIf="isInstalled;else uninstallBtn">Instalar</label>
			<ng-template #uninstallBtn>
				<a class="install-btn" [routerLink]="['/extension',extension.id]">Abrir</a>
			</ng-template>
		</div>
	</div>
	<div class="images-row row-mc2 d-flex flex-column">
		<h4>Imagenes</h4>
		<div class="carousel-content">
			<ul class="list-unstyled carousel">
				<li *ngFor="let item of extension.carousel" ><img [src]="item.image"></li>
			</ul>
		</div>
	</div>
	<div class="description-row row-mc2 d-flex">
		<div class="d-flex flex-column">
			<h4>Descripción</h4>
			<p>{{extension.longDesc}}</p>
		</div>
	</div>
</div>