@import "./src/variables.scss";
#header{	
	.logo-container {
	    height: 80px;
	    background-color: $lt-color;
	    position: relative;
	    -webkit-box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 0.2);
	    box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 0.2);
	    img {
		    height: 50px;
		    width: auto;
		}
	}
}
#header.full-header .logo-container {
    padding-right: 30px;
    padding-left: 30px;
}