::ng-deep app-profile{
	height: 100%;
}
figure{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    img{
    	width: 150px;
    	height: 150px;
	    border: solid 1px #e3e3e3;
	    border-radius: 50%;
    }
    label[for="imgSelect"]{
		position: absolute;
	    margin: 0;
	    width: 42px;
	    height: 42px;
	    color: #fff;
	    background-color: #2bb6aa;
	    border-radius: 50%;
	    right: 10px;
	    bottom: 5px;
	    cursor: pointer;	    
	    i{
    	    vertical-align: middle;
    		line-height: 44px;
	    }
	}
}
form{
	.form-control{
	    color: #444;
	    border: 0px;
	    border-bottom: solid 1px #dee2e6;
	    /* box-shadow: none; */
	    margin-bottom: 15px;
	    overflow: hidden;
	}
}
.btn-primary{
	margin-top: 20px;
	background-color: #2bb6aa;
	border-color: #2bb6aa;
}
.btn-primary:hover{
	background-color: transparent;
	border-color: #2bb6aa;
	color: #2bb6aa;
}