<header class="main-header d-flex justify-content-center align-items-center">
	<h2>Mi Perfil</h2>
</header>
<section class="main-content">
	<div class="inbox-tasks h-100 d-flex flex-column w-100" id="profile">
		<form (submit)="saveProfile()" *ngIf="profile" class="pt-5 text-center pl-2 pr-2 pr-md-4 pl-md-4">
			<div class="w-100 text-center">
				<figure>
					<img class="profileImg" src="{{profile.image}}" alt="">
					<label for="imgSelect">
						<i class="fa fa-camera"></i>
					</label>
				</figure>
			</div>
			<input class="d-none" type="file" name="imgSelect" id="imgSelect" accept=".png, .jpg, .jpeg" (input)="changeImg($event)">
			<input class="form-control" type="text" name="name" [(ngModel)]="profile.name">
			<label class="form-control text-left">{{profile.mail}}</label>
			<button class="btn btn-primary" type="submit">Guardar</button>
		</form>
	</div>
</section>