/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2018, 11:01:52 AM
    Author     : oficina
*/
@import "./src/variables.scss";
::ng-deep template{
    display: block;
}
.task-list-component>.tab-content{
    max-height: calc(100% - 118px);
    overflow-y: auto;
}
.task-list-options {
    padding-top: 7px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: auto!important;
}
::ng-deep main .main-content .tasks .tasks-list{
    >template>li{
        border-bottom: solid 2px #f2f2f2;
        cursor: pointer;
        .li-content{
            height: 50px;
            .li-left{
                width: 50px;
                .fa-heart{
                    color: #ff6969;
                }
                .fa-heart-o{
                    color: #dbdbdb;
                }
            }
            .li-main{
                width: 100%;
                font-size: 0.8em;
            }
            .li-right{
                opacity:0;
                transition: all 0.3s ease-out;
                ul>li>a{
                    width: 40px;
                }
                ul>li>a.delete{
                    color: $brand-danger;
                }
                ul>li>a.complete{
                    color: $brand-success;
                }
            }
        }
    }
    >template>li:hover .li-right{
        opacity: 1;
    }
    >template>li.active{
        background-color: #fafafa;
    }
}
main>.main-content .tasks .add-task-quick{
    padding: 10px 15px;
    border-top: solid 2px #f2f2f2;
    .input-group{
        margin: 0!important;
        input[name="task-name"]{
            border: none;
            border-bottom: solid 1.5px #f2f2f2;
            border-radius: 0px;
            font-size: 1em;
            padding-left: 0px;
        }
        button[type="submit"]{
            border-radius: 50%;
            padding: 0;
            height: 45px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: $lt2Color;
            padding-top: 2px;
            font-size: 1.5em;
        }
    }
}

.multi>.separator{
    width: 5px;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
}