<div class="w-100 h-100 d-flex flex-column w-100 task-list-component">
    <!-- Tab nav -->
    <div class="task-list-header d-flex">
        <ul class="nav nav-tabs folder-tabs lt-tabs">
            <li class="nav-item" *ngFor="let folder of folders">
                <a [attr.id]="folder.name+'-tab'" class="nav-link active" [ngClass]="{active:folder.selected}" data-toggle="tab" [attr.href]="'#'+folder.name" role="tab" [attr.aria-controls]="folder.name" aria-selected="true" (click)="changeFolder(folder)">{{folder.name}}</a>
            </li>           
        </ul>
        <ul class="list-unstyled m-0 task-list-options">
            <li class="ml-auto mr-0 nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-cog"></i></a>
                <ul class="dropdown-menu dropdown-menu-right flex-column">
                    <h4>Mis Carpetas</h4>
                    <li class="dropdown-item d-flex" *ngFor="let folder of folders" [attr.folder-name]="folder.name">
                        <a href="#">{{folder.name}}</a>
                        <a href="#" class="ml-auto mr-0" (click)="removeFolder($event,folder)"><i class="fa fa-fw fa-trash"></i></a>
                    </li>
                    <form class="add-folder input-group mt-auto mb-0" (submit)="addFolder($event)">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="new_folder_name" [(ngModel)]="new_folder_name" placeholder="Agregar Carpeta">
                            <div class="input-group-append">
                                <button class="btn" type="submit"><i class="fa fa-fw fa-plus"></i></button>
                            </div>
                        </div>
                    </form>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content h-100">
            <div *ngFor="let folder of folders" class="tab-pane h-100" [ngClass]="{active:folder.selected}" [attr.id]="folder.name" role="tabpanel" [attr.aria-labelledby]="folder.name+'-tab'">
                    <ul *ngIf="folderHasTasks(folder)" class="tasks-list list-unstyled h-100 m-0">
                            <template *ngFor="let task of tasks">
                                <li [attr.task-id]="task.id" *ngIf="(taskBelongsHere(folder,task) && complete == 1) || (taskBelongsHere(folder,task) && task.state !== 'COMPLETE')">
                                    <div class="li-content d-flex">
                                        <div class="li-left d-flex justify-content-center align-items-center" (click)="setFavorite(task)">
                                            <i class="fa fa-fw" [ngClass]="task.favorite ? 'fa-heart': 'fa-heart-o'" ></i>
                                        </div>
                                        <div (click)="showTask(task)" class="li-main d-flex align-items-center">{{task.name}}</div>
                                        <div class="li-right d-flex justify-content-center align-items-center">
                                            <ul class="d-flex list-unstyled h-100">
                                                <li><a href="#" title="Completar" class="complete d-flex justify-content-center align-items-center h-100" (click)="completeTask($event,task)"><i class="fa fa-check"></i></a></li>
                                                <li><a href="#" title="Eliminar" class="delete d-flex justify-content-center align-items-center h-100" (click)="deleteTask($event,task)"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </template>
                    </ul>
                    <div class="without-tasks d-flex w-100 h-100 justify-content-center align-items-center text-center" *ngIf="!folderHasTasks(folder)">
                        <p>No tienes tareas en esta carpeta</p>
                    </div>
            </div>
    </div>
    <!-- Add Task Form -->
    <form class="add-task-quick input-group mt-auto mb-0" (submit)="addTask($event)">
        <div class="input-group">
            <input type="text" class="form-control" name="task-name" placeholder="Agregar Tarea" [(ngModel)]="new_task_name">
            <div class="input-group-append d-flex align-items-center">
                <button class="btn" type="submit"><i class="fa fa-fw fa-plus"></i></button>
            </div>
        </div>
    </form>
</div>