<header class="main-header d-flex justify-content-center align-items-center">
	<h2 [innerText]="title"></h2>
	<div class="dropdown filter-button">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-fw fa-filter"></i>
		</button>
		<ul class="dropdown-menu dropdown-menu-right flex-column tasks-tools">
            <form class="group mb-2">
                <h4>Ordenar por</h4>
                <div class="form-group">
                    <input class="d-none" type="radio" name="order-by" id="ob-1" value="1">
                    <label class="mc2-label" for="ob-1" (click)="changeOrderByState($event,0)" >Alfabéticamente <i class="fa fa-fw fa-check d-none"></i></label>                        
                </div>
                <div class="form-group">
                    <input class="d-none" type="radio" name="order-by" id="ob-2" value="2" checked="">
                    <label class="mc2-label" for="ob-2" (click)="changeOrderByState($event,1)">Creación <i class="fa fa-fw fa-check d-none"></i></label>
                </div>
                <div class="form-group">
                    <input class="d-none" type="radio" name="order-by" id="ob-3" value="3">
                    <label class="mc2-label" for="ob-3" (click)="changeOrderByState($event,2)">Actualización <i class="fa fa-fw fa-check d-none"></i></label>
                </div>
                <div class="form-group">
                    <input class="d-none" type="radio" name="order-by" id="ob-4" value="4">
                    <label class="mc2-label" for="ob-4" (click)="changeOrderByState($event,3)">Favoritos <i class="fa fa-fw fa-check"></i></label>
                </div>
            </form>
            <form class="group">
                <h4>Completados</h4>
                <div class="form-group">
                    <input class="d-none" type="radio" name="completed" id="cp-1" value="1">
                    <label for="cp-1" class="mc2-label-completed" (click)="showCompleted($event,1)">Mostrar <i class="fa fa-fw fa-check d-none"></i></label>
                </div>
                <div class="form-group">
                    <input class="d-none" type="radio" name="completed" id="cp-2" value="0">
                    <label for="cp-2" class="mc2-label-completed" (click)="showCompleted($event,0)">Ocultar <i class="fa fa-fw fa-check"></i></label>
                </div>
            </form>
        </ul>
	</div>
</header>
<section class="main-content d-flex">
	<app-task-list [orderBy]="orderBy" [complete]="complete"  [tasks]="tasks" [folders]="folders" (passSelectedTask)="showTask($event)" class="tasks h-100 d-flex d-md-flex flex-column w-100"></app-task-list>
	<div class="separator d-none d-md-block" *ngIf="selectedTask"></div>
	<app-task-detail *ngIf="selectedTask" [type]="selectedType" [task]="selectedTask" (saveNewTask)="saveNewTask($event)" (passAction)="execAction($event)" [tasks]="selectedTaskSons" class="show_pane w-100 h-100 flex-column"></app-task-detail>
</section>
