.filter-button{
	position: absolute;
	right: 0;
	>button{		
		padding: 8px 16px;
		background-color: transparent;
		border: 0;
	}
	>button.dropdown-toggle::after{
		content: none;
	}
	>button.dropdown-toggle:focus{
		box-shadow: none;
	}
	>button.dropdown-toggle:active{
		background-color: transparent;
		border: 0;
	}
}
.tasks-tools{
	padding: 15px;
	h4{
	    font-size: 16.128px;
	}
	.form-group{
		margin-bottom: 0;
	}
	label{
		margin-bottom: 0;
		font-size: 13.44px;		
		width: 100%;
		i{
			color: #0184d2;
		}
	}
}

::ng-deep app-my-tasks{
	display:flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.main-content{
	height: calc(100% - 80px);
    background-color: #fff;
}

::ng-deep .add-task-quick{
	padding: 10px 15px;
	button[type="submit"]{
	    border-radius: 50%!important;
	    padding: 0;
	    height: 45px;
	    width: 45px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    color: #fff;
	    background-color: #2cb4aa;
	    padding-top: 2px;
	    font-size: 1.5em;
	}
}