/* You can add global styles to this file, and also import other style files */
@import "./src/variables.scss";
html,body,app-root{
	width: 100%;
    height: 100%;
}
body,app-root,app-header,app-main{	
    display: flex;
    flex-direction: column;
    >app-login{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}    
}

body{
	font-size: 1.2em;
    background-color: #f5f8fa;
}

main.full-main,app-main {
    width: 100%;
    height: 100%;
}

input[type='text'].form-control, input[type='password'].form-control, input[type='email'].form-control {
    border: 0;
    border-bottom: solid 1px #dee2e6;
    border-radius: 0;
    font-size: 0.9em;
}
.btn {
    border-radius: 0;
}

.btn-default {
    background-color: transparent;
}

small {
    color: $soft;
}
.btn-primary {
    color: #fff;
    background-color: #0184d2;
    border-color: #0184d2;
    border-radius: 25px!important;
    width: 200px;
    max-width: 100%;
    padding: 10px;
    transition: all 0.3s ease-out;
}
.btn-primary:hover{
    color: #0184d2;
    border-color: #0184d2;
    background-color: transparent;
}
.without-tasks p{
    color: #d2d2d2;
    font-size: 20px;
    line-height: 1.2;
}
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:focus .owl-dt-control-button-content, .owl-dt-timer-hour12 .owl-dt-timer-hour12-box:hover .owl-dt-control-button-content,.owl-dt-calendar-table .owl-dt-calendar-cell-selected{
    background: #0184d2;
}
.owl-dt-timer-hour12,.owl-dt-container-buttons{
    color: #0184d2;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-out {
    opacity: .3;
}
.owl-dt-calendar-table .owl-dt-calendar-header {
    color: rgba(0,0,0,1);
}