    <div class="w-100 h-100 d-flex flex-column">
        <div v-if="task === null"></div>
        <div class="task-details item" [ngClass]="{'subTask':(task.parent_id !== 0)}"  v-else>
            <div class="task-details-header item-header">
                <div class="left" (click)="turnBack($event)">
                    <i class="fa fa-angle-left fa-2x"></i>
                </div>
                <div class="title">
                    <input type="text" [(ngModel)]="task.name" />                 
                </div>
                <div class="right" (click)="sendTask($event)">
                    <i class="fa " [ngClass]="(task.parent_id == 0)?'fa-send':'fa-check'" ></i>
                </div>
            </div>
            <div class="task-details-content item-content d-flex flex-column">
                <div class="form-group mc2-row">
                    <label for="task-details-to">Para:</label>
                    <input class="form-control" name="task-details-to" type="text" [(ngModel)]="task.dear_mail">
                </div>
                <div class="form-group mc2-row">
                    <label for="task-details-from">De:</label>
                    <input class="form-control" name="task-details-from" type="text" [(ngModel)]="task.from_mail" disabled>
                </div>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Notas" [(ngModel)]="task.description"></textarea>
                </div>
                <div class="form-group mb-0 mt-auto d-flex flex-column">                    
                    <div class="d-flex">
                        <label class="date-btn">                            
                            <input [owlDateTime]="dt1" [(ngModel)]="task_expiration_date" [min]="min" (dateTimeChange)="expirationTimeChange($event)">
                            <span class="trigger" [owlDateTimeTrigger]="dt1">
                                <i class="fa fa-calendar mr-2"></i>
                                {{task_expiration_label}}
                            </span>
                            <owl-date-time #dt1 [hour12Timer]="true" ></owl-date-time>
                        </label>
                        <label class="date-btn">                            
                            <input [owlDateTime]="dt2" [(ngModel)]="task_alert_date" [min]="min" (dateTimeChange)="alertTimeChange($event)">
                            <span class="trigger" [owlDateTimeTrigger]="dt2">
                                <i class="fa fa-bell mr-2"></i>
                                {{task_alert_label}}
                            </span>
                            <owl-date-time #dt2 [hour12Timer]="true" ></owl-date-time>
                        </label>
                    </div>
                    <ul class="d-flex flex-column list-unstyled sub_task_list m-0">
                        <template *ngFor="let s_task of tasks">
                            <li *ngIf="isSon(s_task) && isActive(s_task)" class="d-flex">
                                <div class="s_task_container d-flex w-100" (click)="showSubTask(s_task)">
                                    <div class="li-left d-flex justify-content-center align-items-center">
                                        <i class="fa fa-circle"></i>
                                    </div>
                                    <div class="li-main d-flex justify-content-center align-items-center">
                                        <label class="m-0">{{ s_task.name }}</label>
                                    </div>
                                    <div class="li-right mr-0 ml-auto d-flex justify-content-center align-items-center">
                                        <label class="m-0">{{ s_task.dear_mail }}</label>                                    
                                    </div>
                                </div>
                                <div class="buttons">
                                    <a class="rm-subtask btn btn-danger btn-sm" (click)="removeSubTask(s_task)">Eliminar</a>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <form class="task-detailt-footer item-footer add-subtask-form input-group mt-auto mb-0" (submit)="addSubTask($event)">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="sub_task_name" placeholder="Agregar SubTarea" [(ngModel)]="sub_task_name">
                    <div class="input-group-append d-flex align-items-center">
                        <button class="btn" type="submit"><i class="fa fa-fw fa-plus"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>