/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2018, 11:37:06 AM
    Author     : oficina
*/
::ng-deep .input-group.date .input-group-addon {
    color: #607d8b;
    height: 50px;
}
::ng-deep .date-btn{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #607d8b;
    height: 54px;
    margin: 0;

    input{
        height: 0;
        width: 0;
        padding: 0;
        border: 0;
    }
}
.task-details.item.subTask .item-header {
    background-color: #2cb4aa;
}
/*
::ng-deep .bootstrap-datetimepicker-widget{
    font-size: 0.9em;
    table td {
        height: auto!important;
        line-height: 1!important;
        span{
            height: auto!important;
            line-height: 1!important;
        }
        a{
            padding: 0!important;
        }
    }
    li.picker-switch {
        display: none;
    }
    button[data-action] {
        padding: 0px 6px!important;
        font-size: 1em;
    }    
}

::ng-deep input[type="text"]:disabled{
    background-color: #fff;
}*/

@import "./src/variables.scss";
::ng-deep .show_pane>div{
    position:relative;
    overflow:hidden;
    >.item{

        .sub_task_list li{
            font-size: 0.8em;
            padding: 5px 15px;
            border-top: solid 1px #f2f2f2;
            .s_task_container{
                transition: all 0.3s ease-out;
                .li-left{
                    font-size: 0.5em;
                    color: #607d8b;
                }
                .li-main{
                    padding-left: 8px;
                }
            }            
            .buttons{
                width: 0px;
                overflow: hidden;
                transition: all 0.3s ease-out;                    
                .btn{
                    margin-left: 8px;
                    color: #fff;
                }
            }
        }
        .sub_task_list li:hover{
            .s_task_container{
                width: calc(100% - 75.23px)!important;
            }
            .buttons{
                width: 75.23px;
            }
        }

        height: 100%;
        >.item-header{
            height: 53px;
            width: 100%;
            display: flex;
            background-color: $lt-color;
            color:#fff;
            .left,.right{
                display: flex;
                align-items: center;
                width: 50px;
                cursor: pointer;
            }
            .left{
                padding-left: 15px;
            }
            .right{
                flex-flow: row-reverse;
                padding-right: 15px;
                font-size: 1.2em;
            }
            .title{                
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% - 67px);
                input{
                    color: #fff;
                    background-color: transparent;
                    border: none;
                    text-align: center;
                }
            }
        }
        >.item-content{
            font-size:0.8em;
            height: calc(100% - 53px - 67px);
            .form-group.mc2-row {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0px 15px;
                border-bottom: solid 2px #f2f2f2;
                label{
                    width: 55px;
                    margin-bottom: 0;
                }
                .form-control{
                    font-size: 0.9em;
                    padding: 10px 15px 10px 0px;
                    border: none;
                    border-radius: 0;
                }
            }
            textarea.form-control {
                border: none;
                border-radius: 0px;
                font-size: 0.9em;
                padding: 10px 15px;
                resize: none;
            }
            .date-input {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#607D8B;
                label{
                    margin-bottom: 0;
                    margin-left: 5px;
                }
            }
        }
        >.item-footer{
            padding: 10px 15px;
            border-top: solid 2px #f2f2f2;
            .input-group{
                margin: 0!important;
                input[name="task-name"]{
                    border: none;
                    border-bottom: solid 1.5px #f2f2f2;
                    border-radius: 0px;
                    font-size: 1em;
                    padding-left: 0px;
                }
                button[type="submit"]{
                    border-radius: 50%;
                    padding: 0;
                    height: 45px;
                    width: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    background-color: $lt2Color;
                    padding-top: 2px;
                    font-size: 1.5em;
                }
            }
        }
    }
}
